<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <h1> Query Result </h1>
    {{range .}}
    <!-- <h1>{{.Title}}</h1> -->
    {{ $length := len .RowDatas }}

    <!-- <h3>{{.Heading}} </h3> -->
    {{ if gt $length 0 }}

    <h3>{{.Heading}} <span style="width:20px; color: blue;"> [ Record Count - {{ $length}} ]</span> </h3>

    <table id="gridtable" cellpadding="10px" border="1" style="">
        <tr>{{range $cIdx, $colheading := .ColumnHeading}}
            <th>{{$colheading}}</th>
            {{end}}
        </tr>
    </table>


    <table id="gridtable" cellpadding="10px" border="1" style="">
        {{range $cIdx, $data := .RowDatas}}
        <tr>
            <td>{{$data}}</td>
        </tr>
        {{end}}
    </table>

    {{ end }} {{end}}


</body>

</html>